.logo {
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
}

.logo-left {
    background-color: #750baa;
    color: #1ce6fd;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}

.logo-right {
    color: #1ce6fd;
    margin-left: 0.25rem;
}